<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../behaviors/CanvasBehavior.html" />

<script>
    Polymer({
        "_canvasClick": function( e ){
            var length = this.children.length;
            var child = null;
            while( length-- ){
                child = this.children[ length ];
                if( child.containsPointAndFire( e.offsetX, e.offsetY, "click", e ) ){
                    return;
                }
            }
        },
        "behaviors": [ CanvasBehavior ],
        "extends": "canvas",
        "listeners": {
        "click": "_canvasClick"
        },
        "is": "p-canvas"
    });
</script>