<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../behaviors/CanvasNodeBehavior.html" />

<script>
  Polymer({
    "behaviors": [ CanvasNodeBehavior ],
    "is": "p-rect",
    "properties": {
        "fill": {
            "observer": "_forceRender",
            "reflectToAttribute": true,
            "type": String,
            "value": "#000"
        },
        "height": {
            "observer": "_forceRender",
            "reflectToAttribute": true,
            "type": Number,
            "value": 0
        },
        "width": {
            "observer": "_forceRender",
            "reflectToAttribute": true,
            "type": Number,
            "value": 0
        },
        "x": {
            "observer": "_forceRender",
            "reflectToAttribute": true,
            "type": Number,
            "value": 0
        },
        "y": {
            "observer": "_forceRender",
            "reflectToAttribute": true,
            "type": Number,
            "value": 0
        }
    },
    "render": function( canvas ){
        var ctx = canvas.ctx;
        ctx.save();
        ctx.fillStyle = this.fill;
        ctx.fillRect( this.x, this.y, this.width, this.height );
        ctx.restore();
    }
  });
</script>